* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
  
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body::-webkit-scrollbar {
    display: none;
  }
  
  
  
  .container {
    width: 100vw;
  }
  
  
  .navigation {
    width: 100%;
    background-color: white;
    display: flex;
    padding: 10px 30px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1), 0 2px 2px rgba(0, 0, 0, .06), 0 0 2px rgba(0, 0, 0, .07);
    font-weight: 700;
  }
  
  .symbol {
    margin-left: 2%;
    width: 5%;
    padding-top: 10px;
    height: 50px;
    background-image: url(https://i.pinimg.com/564x/14/55/09/145509e2e7c55b7ab8830545895b70c9.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
  }
  
  .navi-1 {
    height: 100%;
    width: 35%;
    text-decoration: none;
    text-align: center;
    padding-top: 14px;
    text-transform: uppercase;
    margin-left: 2%;
    font-size: 14px;
  }
  
  ul {
    gap: 10px;
    display: flex;
    list-style-type: none;
  }
  
  .ar {
    color: black;
    text-decoration: none;
  }
  
  .ar {
    text-decoration: none;
    padding: 20px 30px;
  }
  
  .ar:hover {
    background-color: black;
    color: white;
    padding: 20px 30px;
  }
  
  .navi-2 {
    height: 100%;
    width: 58%;
    display: flex;
    justify-content: right;
  }
  
  
  ul {
    gap: 10px;
    display: flex;
    list-style-type: none;
  }
  
  .ar {
    color: black;
    text-decoration: none;
  }
  
  .ar {
    text-decoration: none;
    padding: 20px 30px;
  }
  
  .ar:hover {
    background-color: black;
    color: white;
    padding: 20px 30px;
  }
  
  
  .button {
    height: 70%;
    width: 80%;
    display: flex;
    padding-left: 45%;
    padding-top: 9px;
    gap: 40px;
  }
  
  button {
    padding: 5px 1.5em;
    border-radius: 100px;
    text-align: center;
  }
  
  
  
  
  .signin {
    color: black;
    background-color: white;
  }
  
  .store {
    height: 100%;
    width: 20%;
  }
  
  .fa-solid {
    font-size: 20px;
    color: black;
    margin-top: 17px;
    padding-left: 20px;
  }
  
  
.page-1 {
  height: 100vh;
  width: 100vw;
}

.title1{
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text{
  font-size: 30px;
  font-weight: 600;
}

.card{
  height:40%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-card{
  height: 83%;
  width: 24%;
  border-radius: 7px;
  background-size: contain;
  background-image: url(https://globalassets.starbucks.com/digitalassets/cards/fy20/BrailleFY20.jpg);
}

.title-option{
  text-align: center;
  margin-top: 20px;
}

hr{
  margin-top: 9px;
  width: 243px;
  margin: 0 auto;
  background-color: rgb(212, 233, 226);
  height: 4px;
  border: transparent;
}

.form{
  display: flex;
  justify-content: center;
}

.input{
  margin-top: 20px;
}