* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
      scroll-behavior: smooth;
  }
  

  
  
  
  
  body::-webkit-scrollbar {
    display: none;
  }
  
  .container-1 {
    height: 100vh;
    width: 100vw;
   
  }
  
  .wrapper-container {
    padding: 0 60px;
  }
  .navigation {
    height: 10%;
    width: 100%;
    background-color: white;
    display: flex;
  }
  
  .symbol {
    margin-left: 2%;
    height: 100%;
    width: 5%;
    background-image: url(https://i.pinimg.com/564x/14/55/09/145509e2e7c55b7ab8830545895b70c9.jpg);
    background-size: cover;
  }
  
  .navi-1 {
    height: 100%;
    width: 35%;
    text-decoration: none;
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
    margin-left: 2%;
    font-size: 14px;
  }
  
  ul {
    gap: 10px;
    display: flex;
    list-style-type: none;
  }
  
  .ar {
    color: black;
    text-decoration: none;
  }
  
  .ar {
    text-decoration: none;
    padding: 20px 30px;
  }
  
  .ar:hover {
    background-color: black;
    color: white;
    padding: 20px 30px;
  }
  
  .navi-2 {
    height: 100%;
    width: 58%;
    display: flex;
    justify-content: right;
  }
  
  
  .button{
    height: 70%;
    width: 80%;
    display:flex;
    padding-left: 30%;
    margin-top: 1%;
    gap: 30px;
  }
  
  button{
    padding: 10px 50px;
    border-radius: 40%;
    text-align: center;
  }
  
  
  .signin{
    color: black;
    background-color: white;
  }
  .store{
    height: 100%;
    width: 20%;
  }
  .fa-solid{
    font-size: 20px;
    color: black;
    margin-top: 17px;
  }
  
  .page-1{
    height: 100vh;
    width: 100vw;
    display: flex;
    margin-top: 20px;
  }
  
  .list{
    height: 100%;
    width: 20%;
    padding-left: 5%;
    background-size: cover;
    
  }
  
  .top-list{
    width: 100%;
    font-family: SoDoSans,sans-serif;
  }
  
  .text{
    margin-top: 10px;
    font-family: SoDoSans,sans-serif;
  }
  
  .title{
    margin-top: 20px;
  }
  
  p{
    margin-top: 5px;
  }
  .parents {
    height: 100%;
    width: 80%;
    padding-right: 5%;
  }
  
  .product-list {
    height: 100%;
    width: 100%;
    padding-left: 100px;
  
  }
  
  #product-template {
    height: 10vh;
    width: 10vw;
  }
  
  img {
    height: 150px;
    border-radius: 50%;
    width: 150px;
  }
  .circle {
    
    height: 150px;
    width: 150px;
  }
  
  .circle-title {
    text-align: center;
  }
  
  .wrapper{
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    padding-top: 20px;
  }
  
  
  
  
  .footer {
    width: 100vw;
  }
  
  .footer-line {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: grey;
    margin-bottom: 0;
    padding: 10px;
  }
  
  .footer-apps {
    display: flex;
    gap: 40px;
  }
  
  .fa-brands {
    color: white;
    font-size: 20px;
    padding: 0px 20px;
  }
  
  .footer-main {
    height: 90%;
    width: 100%;
    background-image: url(https://scontent.fhan5-9.fna.fbcdn.net/v/t1.15752-9/372695619_649657283923814_2764950344392574399_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=ae9488&_nc_ohc=zCAMR2j3ntUAX_o_xff&_nc_ht=scontent.fhan5-9.fna&oh=03_AdT8hjrDx4BSl-5_BhMr7aVCdoLqG_IkxOnJ6f3C1tjKYw&oe=651D51C4);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 50px 20px;
  }
  
  .footer-title {
    height: 5%;
    width: 100%;
    font-size: 25px;
    font-weight: 600;
    color: white;
    padding-left: 15px;
    margin-bottom: 30px;
  }
  
  .footer-col-1 {
    height: 100%;
    width: 36%;
  }
  
  .footer-main1-box1 {
    height: 7%;
    width: 100%;
    display: flex;
  }
  
  .footer-main1-icon {
    height: 100%;
    width: 13%;
    display: flex;
    justify-content: center;
    font-size: 20px;
  }
  
  .bi-geo-alt-fill {
    padding-top: 5px;
  }
  
  .bi-telephone-fill {
    padding-top: 10px;
  }
  
  .bi-envelope {
    padding-top: 10px;
  }
  
  .footer-main1-infor1 {
    height: 100%;
    width: 70%;
    font-size: 16px;
    color: grey;
    padding-top: 5px;
  }
  
  .footer-main1-box2 {
    height: 10%;
    width: 100%;
    display: flex;
  }
  
  .footer-main1-infor2 {
    height: 100%;
    width: 70%;
    font-size: 16px;
    color: grey;
    padding-top: 5px;
  }
  
  .footer-main1-box3 {
    height: 7%;
    width: 100%;
    display: flex;
  }
  
  .footer-main1-infor3 {
    height: 100%;
    width: 70%;
    font-size: 16px;
    color: grey;
    padding-top: 5px;
  }
  
  .footer-col-2 {
    height: 100%;
    width: 37%;
  }
  
  .footer-main2-box {
    width: 100%;
    height: 25%;
    margin-top: 25px;
    padding-left: 15px;
  }
  
  .footer-main2-ques {
    height: 40%;
    width: 100%;
    font-size: 17px;
    font-weight: 600;
    color: rgb(182, 182, 182);
  }
  
  .footer-main2-ans {
    height: 45%;
    width: 100%;
    color: grey;
    font-weight: 400;
  }
  
  .footer-main2-date {
    height: 10%;
    width: 100%;
    color: grey;
  }
  
  .footer-col-3 {
    height: 100%;
    width: 38%;
  }
  
  .footer-main3-box {
    width: 100%;
    height: 27%;
    margin-top: 25px;
    padding-left: 15px;
  }
  
  .footer-main3-heading {
    display: flex;
    color: rgb(182, 182, 182);
  }
  
  .footer-main3-icon {
    height: 100%;
    width: 15%;
    color: whitesmoke;
  }
  
  .footer-main3-title1 {
    height: 100%;
    width: 50%;
    text-align: center;
    color: grey;
  }
  
  .footer-main3-title2 {
    height: 100%;
    width: 30%;
    color: grey;
  }
  
  .footer-main3-text {
    height: 70%;
    width: 100%;
    padding-left: 15%;
    color: grey;
  }
  
  .bi-lightning-charge-fill {
    color: yellow;
  }
  
  .fade {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .fade.in {
    opacity: 1;
  }
  
  .list-drinks {
    display: flex;
    flex-wrap: wrap;
  }
  
  .drink-item {
    width: 50%;
    height: 150px;
    background-color: aliceblue;
  }
  