* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
  
  }
  
  
  html {
      scroll-behavior: smooth;
  }
  
  
  body::-webkit-scrollbar {
      display: none;
  }

.load{
    height: 30vh;
    margin-top: 190px;
    margin-left: 544px;
    background-image: url(https://i.pinimg.com/564x/14/55/09/145509e2e7c55b7ab8830545895b70c9.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    
}